<div class="container">
  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    <a class="navbar-brand" href="#">
      <img src="https://avatars2.githubusercontent.com/u/5550470?v=3&u=bcc0dc47383815cbaa76a73051dc8dd0e18464d7&s=400" width="30"
        height="30" alt="">
    </a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" >Home</a>
        </li>
      </ul>
    </div>
  </nav>
</div>